<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Meus Dados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Meus Indicadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evaluation">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Minha Avaliação</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
