<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>Foto</ion-label>
      <ion-input type="img"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Nome Completo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-MAIL</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Data de Nascimento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Sexo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Estado</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Cidade</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
  </ion-list> 

</ion-content>
